@import '../../variables.scss';

.item {
  border-radius: 20px;
  padding: $margin1;
  background-color: #fff;

  &:not(:last-child) {
    margin-bottom: 16px;

    @media (width > 480px) {
      margin-bottom: 28px;
    }
  }

  @media (width > 480px) {
    padding: 20px 32px;
  }

  .top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: $margin1 0;

    @media (width > 480px) {
      padding: 12px 0;
    }

    .text {
      font-size: $text-size-0;

      @media (width > 480px) {
        font-size: 32px;
      }
    }

    .img {
      width: $logoSize2;
      height: $logoSize2;
      border-radius: 50%;

      @media (width > 480px) {
        width: 64px;
        height: 64px;
      }
    }
  }

  .middle {
    padding: $margin1 0 $margin2;

    @media (width > 480px) {
      padding: 12px 0;
    }

    .points {
      display: flex;
      align-items: baseline;
      gap: $margin2;

      @media (width > 480px) {
        gap: 10px;
      }

      .pointsPrice {
        font-size: $text-size-0;

        @media (width > 480px) {
          font-size: 46px;
        }
      }

      .pointsDesc {
        font-size: $text-size-2;
        color: $darkGrey;

        @media (width > 480px) {
          font-size: 22px;
        }
      }
    }
  }

  .cashbackBox {
    display: flex;
    padding: $margin1 0 0;
    gap: 12vw;

    @media (width > 480px) {
      padding: 28px 0 0;
      gap: 100px;
    }

    .cashbackLeft,
    .cashbackRight {
      text-align: start;
      display: flex;
      flex-direction: column;

      @media (width < 480px) {
        font-size: 12px;
      }
    }

    .cashbackText {
      color: $darkGrey;
      margin-bottom: 6px;

      @media (width < 480px) {
        margin-bottom: 4px;
      }
    }
  }

  .bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: $margin2 0 0;

    @media (width > 480px) {
      padding: 12px 0 0;
    }

    .btnIcons {
      width: 200px;
      display: flex;
      justify-content: space-between;
      gap: 12px;

      @media (width < 576px) {
        width: 150px;
      }

      @media (width < 480px) {
        width: 120px;
      }

      @media (width < 480px) {
        width: 100px;
      }
    }

    .btnEyeTrash {
      width: 34px;

      @media (width > 410px) {
        width: 40px;
      }
      @media (width > 576px) {
        width: 46px;
      }
    }
  }

  .btnOk {
    color: white;
    background-color: $color-blue;
    padding: $margin2 $margin0;
    border-radius: 12px;
    margin-bottom: $margin-3vw;
  }
}
