@import '../../variables.scss';
.pagePreloader {
  position: relative;
  height: $logoSize2;
  width: 100%;
  z-index: 100500;
}

.pagePreloader .spinner {
  width: 45px;
  height: 45px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;

  border: 4px solid rgba(0, 0, 0, 0.758);
  border-top: 4px solid $lightGrey;
  border-radius: 50%;
  animation: spin 1.5s linear infinite;
}

.spinnerText {
  font-size: $text-size-2;
  padding: $margin2;
  margin-bottom: $margin1;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
