@import '../../variables.scss';

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(0.7rem);
}

.modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: $margin0;
  background-color: white;
  color: $darkGrey;
  padding: $margin1;
  border-radius: 26px;
  width: 80%;
  max-width: 600px;
  font-size: $text-size-2;
}

.closeButton {
  width: $text-size-1;
  height: $text-size-1;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  position: absolute;
  bottom: 10%;
  margin-top: auto;
  background: $lightGrey;
  border: none;
  font-size: 18px;
  cursor: pointer;
}

.cansel {
  padding-top: 3px;
  width: $text-size-0;
  height: $text-size-0;
}
