@import '../../variables.scss';

.header {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  background-color: white;
  color: $color-blue;
  padding: $margin1 0;
  font-size: $text-size-0;
  @media (width > 480px) {
    padding: 24px 0;
    font-size: 30px;
  }
}
