$color-blue: #2688eb;
$lightGrey: #efefef;
$darkGrey: #949494;
$text-size-0: 6vw;
$text-size-1: 10vw;
$text-size-2: 4vw;
$text-size-3: 2vw;
$margin1: 4vw;
$margin2: 2vw;
$margin3: 20vw;
$logoSize: 20vw;
$logoSize2: 12vw;
$logoLarge: 50vw;
$iconSize: 8vw;
